# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
ENV/

# Django
*.log
db.sqlite3
media/

# Migrations (optional: keep if you want)
# */migrations/*.py
# !*/migrations/__init__.py

# Static files
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# PyCharm
.idea/
